* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --primary-color: #161719;
   --secondary-color: #fef8ec;
   --success-color: #00c168;
   --error-color: #c10032;
   --check-color: #00c168;
   --delete-color: #e6021f;
}

body {
   font-family: "Mulish", sans-serif;
   background: burlywood;
   color: var(--primary-color);
}

span.text-bold,
small.text-bold {
   font-weight: 700;
}

.hide {
   display: none !important;
}

/* Logo & Greeting Styles */
.menu-div {
   width: 80%;
   min-height: 40vh;
   margin-top: 50px;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
}

.menu-div .logo {
   margin-bottom: 20px;
}

.logo img {
   width: 100px;
   margin-top: 10px;
}

.logo h1 {
   font-size: 64px;
}

.logo p {
   font-size: 14px;
   font-style: italic;
}

.home-buttons {
   max-width: 400px;
   margin: 10px auto;
   display: flex;
   justify-content: space-around;
}

.home-buttons button {
   width: 125px;
   height: 35px;
   border: 1px solid var(--primary-color);
   border-radius: 4px;
   outline: none;
   font-size: 16px;
   font-weight: 500;
   background-color: var(--secondary-color);
   transition: 0.3s ease-in;
}

.home-buttons button:hover {
   transition: 0.3s ease-in;
   cursor: pointer;
   background-color: var(--primary-color);
   color: var(--secondary-color);
}

.home-buttons .active-button {
   background-color: var(--primary-color) !important;
   color: var(--secondary-color);
}

.greeting h1 {
   margin-bottom: 10px;
   font-size: 20px;
   font-weight: 400;
}

/* Login and Registration Setup */
.register-div form,
.login-div form {
   width: 370px;
   padding: 20px;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translateX(-50%);
}

.register-div form label,
.login-div form label {
   font-size: 15px;
   font-weight: bold;
}

.register-div form input,
.login-div form input {
   margin-top: 5px;
   width: 330px;
   height: 32px;
   outline: none;
   border: 1px solid var(--primary-color);
   border-radius: 4px;
   font-size: 16px;
   padding-left: 10px;
   background-color: var(--secondary-color);
   transition: 0.2s ease-in;
}

.register-div form input:hover,
.register-div form input:focus,
.login-div form input:hover,
.login-div form input:focus {
   background-color: #fbd0da;
}

.register-div .width-50 {
   display: flex;
   justify-content: space-between;
}

.register-div .input-50-first input,
.register-div .input-50-last input {
   width: 160px;
}

.register-div .checkbox-div {
   display: flex;
   margin-top: 5px;
   justify-content: center;
   align-items: center;
}

.register-div .checkbox-div input[type="checkbox"] {
   margin: 0;
   width: 15px;
   height: 15px;
   cursor: pointer;
}

.register-div .checkbox-div label {
   margin-left: 20px;
   font-size: 14px;
   font-weight: 500;
}

.register-div form input[type="submit"],
.login-div form input[type="submit"] {
   width: 330px;
   height: 35px;
   outline: none;
   font-size: 16px;
   font-weight: 500;
   border: 1px solid var(--primary-color);
   border-radius: 4px;
   background-color: var(--secondary-color);
   transition: 0.3s ease-in;
}

.register-div form input[type="submit"]:hover,
.login-div form input[type="submit"]:hover {
   cursor: pointer;
   background-color: var(--primary-color);
   color: var(--secondary-color);
}

.register-div form p,
.login-div form p {
   font-size: 14px;
   text-align: center;
   margin-top: 15px;
   position: relative;
}

.register-div form p > span,
.login-div form p > span {
   display: flex;
}

.register-div form span#login-span,
.login-div form span#register-span {
   cursor: pointer;
   position: absolute;
   left: 50%;
}

.register-div form span#login-span {
   transform: translateX(-50%);
}

.login-div form span#register-span {
   transform: translateX(-20%);
}

.login-div form span#register-span {
   right: 9%;
}

.register-div form span#login-span::after,
.login-div form span#register-span::after {
   content: "";
   width: 0%;
   height: 2px;
   background: var(--primary-color);
   display: block;
   transition: 0.5s;
}

.register-div form span#login-span:hover::after,
.login-div form span#register-span:hover::after {
   width: 100%;
}

/* Error Icons and Error Message */
.form-control {
   margin-bottom: 35px;
   position: relative;
}

.form-control img {
   width: 15px;
   position: absolute;
   top: 33px;
   right: 27px;
   visibility: hidden;
}

.form-control small {
   position: absolute;
   top: 60px;
   visibility: hidden;
}

.form-control.checkbox-div img {
   position: absolute;
   top: 25px;
   right: 20px;
}

.form-control.checkbox-div small {
   position: absolute;
   top: 25px;
   left: 45px;
}

.form-control.success input {
   border: 1px solid var(--success-color);
}

.form-control.error input {
   border: 1px solid var(--error-color);
}

.form-control.success img.check {
   visibility: visible;
}

.form-control.error img.cross {
   visibility: visible;
}

.form-control.error small {
   visibility: visible;
   color: var(--error-color);
}

.login-error {
   position: relative;
   visibility: hidden;
}

.login-error img {
   width: 15px;
   position: absolute;
   right: 15px;
   top: 4px;
}

.login-error small {
   font-size: 14px;
}

.login-error.error img.cross {
   visibility: visible;
}

.login-error.error small {
   visibility: visible;
   color: var(--error-color);
}

/* Loading screen */
.loader {
   position: absolute;
   top: 60%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   width: 80%;
}

.loader p {
   margin-top: 10px;
   font-size: 20px;
}

/* Dashboard */
.dashboard {
   width: 80%;
   min-height: 100%;
   background: #fff2d7;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
}

.dashboard .nav {
   position: absolute;
   background: var(--primary-color);
   width: 60px;
   height: 100%;
}

.dashboard .nav .house,
.dashboard .nav .gears,
.dashboard .nav .exit,
.dashboard .nav p {
   position: absolute;
   text-align: center;
   cursor: pointer;
   left: 50%;
   transform: translateX(-50%);
}

.dashboard .nav .house:active,
.dashboard .nav .gears:active,
.dashboard .nav .exit:active,
.dashboard .nav p:active {
   transition: 0.5s ease;
   transform: translate(-2px, -4px);
}

.dashboard .nav .house img,
.dashboard .nav .gears img,
.dashboard .nav .exit img {
   width: 25px;
}

.dashboard .nav .house {
   top: 5%;
}

.dashboard .nav .gears {
   top: 15%;
}

.dashboard .nav .exit {
   top: 90%;
}

.dashboard .nav p {
   color: var(--secondary-color);
   font-size: 14px;
   opacity: 0;
   transition: opacity 0.2s ease-in;
}

.dashboard .nav .house:hover p,
.dashboard .nav .gears:hover p,
.dashboard .nav .exit:hover p {
   visibility: visible;
   opacity: 1;
}

/* Dashboard Home */
.dashboard .dashboard-home {
   margin-top: 33px;
   margin-left: 50%;
   transform: translateX(-50%);
   width: 100%;
}

.dashboard .dashboard-home h1,
.dashboard .dashboard-notes h1,
.dashboard .dashboard-settings h1 {
   font-size: 28px;
   font-weight: 400;
   text-align: center;
}

.dashboard .dashboard-home p {
   font-size: 16px;
}

.dashboard .dashboard-home .intro {
   margin-top: 100px;
   text-align: center;
}

.dashboard .dashboard-home .notes-overview button {
   margin: 20px auto;
   width: 35%;
   height: 32px;
   border: 1px solid var(--primary-color);
   border-radius: 4px;
   outline: none;
   font-size: 16px;
   font-weight: 500;
   background-color: #fff2d7;
   display: flex;
   justify-content: space-around;
   align-items: center;
   transition: 0.3s ease-in;
}

.dashboard .dashboard-home .notes-overview button:hover {
   cursor: pointer;
   background-color: var(--primary-color);
   color: var(--secondary-color);
}

.dashboard .dashboard-home .notes-overview p {
   margin-bottom: 20px;
   text-align: center;
   font-size: 16px;
}

.dashboard .dashboard-home .notes-overview li {
   list-style: none;
   margin-bottom: 10px;
   background: url("/static/img/bullet.svg") no-repeat left;
   padding-left: 25px;
   cursor: pointer;
}

.dashboard .dashboard-home .notes-overview li:hover {
   font-weight: bold;
}

.dashboard .dashboard-home .notes-overview li span {
   color: var(--primary-color);
   font-size: 15px;
}

/* Dashboard Notes */
.dashboard .dashboard-notes {
   margin-top: 33px;
   margin-left: 50%;
   transform: translateX(-50%);
   width: 100%;
}

.notes-container {
   margin: 20px auto;
   padding: 10px;
}

.notes-container .heading small {
   visibility: hidden;
}

.notes-container .heading small.error {
   visibility: visible;
   color: var(--error-color);
}

.notes-container form {
   margin-bottom: 10px;
}

.notes-container form input {
   width: 100%;
   height: 32px;
   padding-left: 10px;
   border: none;
   outline: none;
   margin-bottom: 10px;
   font-size: 16px;
   background: #fef8ec;
   color: var(--primary-color);
}

.notes-container form input#rename-input {
   font-size: 18px;
}

.notes-container form button {
   width: 110px;
   height: 32px;
   border-radius: 4px;
   border: none;
   outline: none;
   background: var(--primary-color);
   color: #fef8ec;
   font-size: 13px;
   cursor: pointer;
   transition: 0.3s ease-in;
}

.notes-container form button:hover {
   border: 1px solid var(--primary-color);
   background: #fef8ec;
   color: var(--primary-color);
}

.notes-container .todo-container {
   margin-top: 30px;
}

.notes-container .todo-container .todo-list .todo {
   min-height: 30px;
   margin-bottom: 10px;
   background-color: #fef8ec;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: all 0.5s ease;
}

.notes-container .todo-container .todo-list li {
   width: 82%;
   margin-left: 20px;
   font-size: 15px;
   padding: 5px;
   list-style: none;
   margin-left: 5px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.notes-container .todo-container .todo-list li:hover {
   height: auto;
   white-space: normal;
   overflow: auto;
}

.notes-container .todo-container .todo-list li.bullet {
   background: url("/static/img/bullet.svg") no-repeat left;
   padding-left: 25px;
}

.completed {
   text-decoration: line-through;
   opacity: 0.5;
}

.notes-container .todo-list .todo .notes-buttons {
   width: 18%;
   display: flex;
   justify-content: space-between;
}

.notes-container .todo-list .todo .strike,
.notes-container .todo-list .todo .trash {
   min-height: 30px;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: 0.3s ease-in;
}

.notes-container .todo-list .todo .strike {
   right: -7%;
   width: 8%;
}

.notes-container .todo-list .todo .trash {
   right: -16%;
   width: 8%;
}

.notes-container .todo-list .todo .strike {
   width: 45%;
   background-color: var(--primary-color);
}

.notes-container .todo-list .todo .strike:hover {
   background-color: var(--check-color);
}

.notes-container .todo-list .todo .trash {
   width: 45%;
   background: var(--primary-color);
}

.notes-container .todo-list .todo .trash:hover {
   background-color: var(--delete-color);
}

/* Dashboard Settings */
.dashboard .dashboard-settings {
   margin-top: 33px;
   margin-left: 50%;
   transform: translateX(-50%);
}

.settings-container {
   margin-top: 20px;
}

.settings-container .heading {
   padding: 20px;
}

.settings-container .heading h3 {
   font-weight: 500;
}

.settings-container form {
   padding: 0 20px 20px 20px;
}

.settings-container form label {
   font-size: 15px;
   font-weight: bold;
}

.settings-container form input {
   margin-top: 5px;
   width: 100%;
   height: 32px;
   outline: none;
   border: none;
   border-radius: 4px;
   font-size: 16px;
   padding-left: 10px;
   background-color: var(--secondary-color);
   transition: 0.2s ease-in;
}

.settings-container form input:hover,
.settings-container form input:focus {
   background-color: #fbd0da;
}

.settings-container form input[type="submit"] {
   margin-top: 10px;
   height: 35px;
   outline: none;
   border: none;
   border-radius: 4px;
   font-size: 14px;
   letter-spacing: 0.5px;
   background-color: var(--secondary-color);
   transition: 0.3s ease-in;
}

.settings-container form input[type="submit"]:hover {
   cursor: pointer;
   background-color: var(--primary-color);
   color: var(--secondary-color);
}

.falling-todo {
   transform: translateX(8rem) rotateZ(20deg);
   opacity: 0;
}

.burger-container {
   position: fixed;
   top: 11px;
   left: 11px;
   background: var(--primary-color);
   z-index: 20;
   display: none;
}

.burger {
   width: 35px;
   height: 35px;
   background: url(../img/ellipsis.svg);
   background-size: 20px;
   background-position: center;
   background-repeat: no-repeat;
   cursor: pointer;
   transition: 0.3s ease;
}

.burger.active {
   background: url(../img/cross.svg);
   background-size: 15px;
   background-position: center;
   background-repeat: no-repeat;
   transform: rotate(720deg);
}

.dashboard .nav.nav-active {
   display: block;
}

/* Media Queries */
@media (max-width: 700px) {
   .burger-container {
      display: block;
   }

   .menu-div {
      width: 90%;
      min-height: 30vh;
   }

   .logo img {
      width: calc(100px - 5%);
      margin-top: 10px;
   }

   .logo h1 {
      font-size: 48px;
   }

   .logo p {
      font-size: 15px;
   }

   .register-div,
   .login-div {
      width: 100%;
   }

   .register-div form,
   .login-div form {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
   }

   .login-div .login-error {
      width: 90%;
      background-color: tomato;
   }

   .register-div form input,
   .login-div form input {
      width: 100%;
   }

   .register-div form input,
   .login-div form input {
      width: 100%;
   }

   .register-div form input[type="submit"],
   .login-div form input[type="submit"] {
      width: 100%;
   }

   .register-div .input-50-first input,
   .register-div .input-50-last input {
      width: 97%;
   }

   .form-control.checkbox-div small {
      width: 70%;
      left: 50%;
      transform: translateX(-50%);
   }

   .loader p {
      font-size: 18px;
   }

   .greeting h1 {
      font-size: 18px;
   }

   .dashboard {
      position: absolute;
      top: 38%;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      display: flex;
   }

   .dashboard .nav {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 25%;
      width: calc(100% - 20px);
      background-color: var(--primary-color);
      z-index: 10;
      display: none;
   }

   .dashboard .nav .house,
   .dashboard .nav .gears,
   .dashboard .nav .exit,
   .dashboard .nav p {
      position: absolute;
      text-align: center;
      cursor: pointer;
   }

   .dashboard .nav .house {
      top: 50%;
      left: 20%;
      transform: translateY(-50%);
   }

   .dashboard .nav .gears {
      top: 50%;
      left: 47%;
      transform: translateY(-50%);
   }

   .dashboard .nav .exit {
      top: 50%;
      left: 75%;
      transform: translateY(-50%);
   }

   .dashboard .nav .house p,
   .dashboard .nav .gears p,
   .dashboard .nav .exit p {
      opacity: 1;
   }

   .dashboard .dashboard-home,
   .dashboard .dashboard-notes,
   .dashboard .dashboard-settings {
      margin-top: 20px;
      margin-left: 10%;
      width: 100%;
      transform: translateX(-6%);
   }

   .dashboard .dashboard-home h1,
   .dashboard .dashboard-notes h1,
   .dashboard .dashboard-settings h1 {
      font-size: calc(28px - 50%);
      text-align: center;
      width: 80%;
      margin: auto;
   }

   .dashboard .dashboard-home .notes-overview li {
      margin-left: 10%;
   }

   .notes-container form input#rename-input {
      font-size: 16px;
   }
}

@media (max-width: 400px) {
   .register-div form,
   .login-div form {
      position: absolute;
      top: 48%;
      width: 100%;
   }

   .dashboard {
      top: calc(38% + 70px);
   }

   .dashboard .dashboard-home .notes-overview button {
      width: 45%;
   }
}
